*{
    margin:0%;
    padding:0%;
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: 0%;
    overflow: hidden;
    background-color:black;
    padding: 0%;
    height: 55px;
}
li{
    float: left;
}
li a{
    font-size: 18px;
    font-weight: bold;
    display: block;
    color:white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    margin-left: 80px;
}
li a:hover{
    background-color: white;
    color: black;
}
i{
    margin-right: 10px;
}

